body{
    height: 800px;
    width: 500px;
    margin: 0 auto;
    border: 5px;
    /* box-shadow: -4px 10px 20px rgba(112, 231, 79, 0.6); */ */
    border-radius: 40px;
}
.mainbox{
    display:flex;
    flex-direction:row;
    justify-content: flex-start;
}

.box{
    padding: 5px;
    margin: 5px;
    border: 5px
    border-color: black;
    background-color:gray;
    
}